@charset "utf-8";
/* CSS Document */

:root {
	--green: #13B462;
	--yellow: #FFE500;
	--red: #D24040;
	--blue: #014EA5;
	--orange: #FF8800;
  --white: #F7F7F6;
	--darkgray: #1F1F27;
  --black: #181821;
}

.green-txt { color: var(--green); }
.yellow-txt { color: var(--yellow); }
.red-txt { color: var(--red); }
.blue-txt { color: var(--blue); }
.orange-txt { color: var(--orange); }

.green-bg { background-color: var(--green); }
.yellow-bg { background-color: var(--yellow); }
.red-bg { background-color: var(--red); }
.blue-bg { background-color: var(--blue); }
.black-bg { background-color: var(--black)!important; }

body {
	background-color: white;
}

a, a:active, a:hover, a:visited {
	text-decoration: none;
	color: #333;
  font-weight: 600;
}

.small-link {
	font-size: 0.85em;
	text-transform: capitalize;
	display: inline-block;
	padding: 15px 45px;
	background: linear-gradient(135deg, #fdeb71 0%, #f8d800 100%);
	border-radius: 5px;
	text-align: center;
}

.small-link:hover {
	color: #333;
	text-decoration: underline;
}

.small-link:hover i {
	text-decoration: none;
}

.small-link i {
	margin: 0 10px;
}

a:hover {
	color: var(--green);
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
	font-weight: 700;
}

h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
  color: #777;
}

.section-title {
	text-transform: ;
	display: inline-block!important;
	margin-top: 0!important;
}

.full-wrap {
	position: relative;
}

/* NAVIGATION */

.nav {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.nav .row {
  padding: 0 30px!important;
}

.nav .main-nav {
  display: none!important;
}

.nav .logo {
	width: 60px;
}

.nav label i {
	color: var(--black);
}

/* HEADER */

#header {
	background-color: #f7f7f7;
  position: relative;
}

#header .row {
  position: relative;
  z-index: 100;
}

section .title {
  background: linear-gradient(to right, var(--yellow) 0%, var(--yellow) 100%);
  background-size: 0px 0.8em;
	background-repeat: no-repeat;
  background-position: left 100%;
	display: inline;
  transition: 1s all;
}

section:hover .title {
  background-size: 100% 0.8em;
}

#header .video-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
  width: 45%;
	overflow: hidden;
	background-color: var(--green);
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

#header .video-wrap video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0.5;
	filter: grayscale(100%) contrast(200%) brightness(75%);
}

/* SERVICES */

#services {
  background-color: white;
}

#services .card {
	height: 100%;
  position: relative;
}

#services .card:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: #f7f7f7;
  transition: 0.3s all;
}

#services .card:hover:before {
  left: -30px;
  right: -30px;
  top: -30px;
  bottom: -30px;
}

.card-title,
.card-body {
	float: left;
	width: 100%;
  position: relative;
  z-index: 20;
}

.card-title h4 {
	display: inline-block;
	position: relative;
}

.card-title h4:after {
	content: "";
	position: absolute;
	bottom: -0.25em;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--green);
}

/* AGE */

#age {
	position: relative;
	overflow: hidden;
	background-color: var(--yellow);
}

#age p {

}

#age .age-box {
	width: 100%;
	border: 3px solid black;
	padding-top: 100%;
	float: left;
	position: relative;
}

.age-box div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--black);
}

.age-box div span {
	font-size: 8em;
	font-family: 'Libre Baskerville', serif;
}

/* PROJECTS */

#projects {
	background-color: var(--white);
}

#projects .row {
	position: relative;
	z-index: 200;
}

.project {
	float: left;
	height: 40vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background-color: var(--red);
}

.project .project-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.project .project-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: grayscale(100%) brightness(125%) contrast(25%);
}

.project .project-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project .project-info i {
	font-size: 2em;
	color: white;
	opacity: 1;
	transition: 0.3s all;
}

.project:hover .project-info {
	opacity: 0;
}

.project .project-caption {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.3s all;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.project:hover .project-caption {
	opacity: 1;
}

.project .project-caption div {
	width: 100%;
	text-align: center;
}

/* CLIENTS */

#clients {
	background-color: #eee;
	position: relative;
	overflow: hidden;
}

#clients .row {
	position: relative;
}

#clients h3 {
	font-weight: 700;
}

#clients h3 .fas {
	color: var(--red);
}

#clients .client {
	width: 100%;
	height: 100px;
	background-color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

/* FOOTER */

#footer {
	background-color: var(--darkgray);
	position: relative;
	color: #777;
	overflow: hidden;
}

#footer ul li {
  display: inline;
  padding-left: 30px;
}

#footer a {
  display: inline-block;
  color: #eee;
  position: relative;
  transition: 0.3s all;
}

#footer a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: 0.3s all;
  background-color: var(--green);
}

#footer a:hover {
  color: #fafafa;
}

#footer a:hover:after {
  width: 100%;
}

#footer .active {
  color: #777;
}

#footer #unions {
  font-weight: 700;
  color: #777;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
	transition: 1s all;
	background: linear-gradient(to right, var(--yellow) 0%, var(--yellow) 100%);
  background-size: 0px 1.25em;
	background-repeat: no-repeat;
  background-position: left 100%;
	display: inline;
}

#footer:hover #unions {
  background-size: 100% 1.25em;
  color: var(--black);
}

#footer #logo {
  fill: var(--white);
  height: 2.5em;
  width: auto;
}

#footer i {
  font-size: 1.25em;
  color: #fafafa;
  display: inline-block;
  padding: 0 15px;
}

#footer #copyright {
  font-weight: 600;
  display: block;
}

/* SM */
@media only screen and (max-width: 575px) {
  
  .nav .row {
    padding: 0!important;
  }
  
  #footer ul li {
    display: block;
    text-align: center;
    padding: 15px 0;
  }

}

@media only screen and (min-width: 576px) {



}

@media only screen and (max-width: 767px) {
  
	#header .video-wrap {
    width: 100%;
    clip-path: none;
    background-color: var(--green);
  }
  
  #header .video-wrap video {
    opacity: 0.2;
  }
  
  #age {
		background-color: var(--yellow);
	}
  
  #footer,
  #footer ul {
    text-align: center;
  }

}

/* MD */
@media only screen and (min-width: 768px) {



}

/* BG */
@media only screen and (min-width: 992px) {



}

@media only screen and (max-width: 1199px) {

	.white {
		background-color: rgba(255,255,255,1)!important;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}

	.nav label i {
		font-size: 1.75em;
	}

	.nav .main-nav .menu {
		background-color: var(--black);
		width: 100%;
		position: relative;
		top: 15px;
	}

	.nav .main-nav .menu li {
		text-align: center;
		border-top: 1px solid rgba(255,255,255,0.05);
	}

	.nav .main-nav .menu li:first-of-type {
		border-top: none;
	}

	.nav .main-nav .menu li a {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		line-height: 4em;
		letter-spacing: 1px;
		display: block;
		color: var(--green);
	}

	.nav .main-nav .menu li a i {
		display: none;
	}

	#info {
		display: none;
	}

	#video .video-wrap {
		left: 0;
		right: 0;
	}

}

/* LG */
@media only screen and (min-width: 1200px) {

	

}
